preg = Number of times pregnant

plas = Plasma glucose concentration a 2 hours in an oral glucose tolerance test

pres = Diastolic blood pressure (mm Hg)

skin = Triceps skin fold thickness (mm)

test = 2-Hour serum insulin (mu U/ml)

mass = Body mass index (weight in kg/(height in m)^2)

pedi = Diabetes pedigree function

age = Age (years)

class = Class variable (1:tested positive for diabetes, 0: tested negative for diabetes)

In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('pima-indians-diabetes.csv')
dataset.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [3]:
dataset.isnull().sum()

6        0
148      0
72       0
35       0
0        0
33.6     0
0.627    0
50       0
1        0
dtype: int64

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   6       767 non-null    int64
 1   148     767 non-null    int64
 2   72      767 non-null    int64
 3   35      767 non-null    int64
 4   0       767 non-null    int64
 5   33.6    767 non-null    float64
 6   0.627   767 non-null    float64
 7   50      767 non-null    int64
 8   1       767 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
dataset.shape

(767, 9)

In [6]:
dataset = dataset.astype(dtype='float' )
dataset.head()

     6    148    72    35      0  33.6  0.627    50    1
0  1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0  0.0
1  8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0  1.0
2  1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0  0.0
3  0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0  1.0
4  5.0  116.0  74.0   0.0    0.0  25.6  0.201  30.0  0.0

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
dataset = dataset.rename(columns = {'6': 'preg', '148': 'plas', '72':'pres', '35':'skin','0':'test','33.6':'mass','0.627':'pedi','50':'age','1':'class'}, inplace = False)

# Print out dataset
dataset.head(2)

   preg   plas  pres  skin  test  mass   pedi   age  class
0   1.0   85.0  66.0  29.0   0.0  26.6  0.351  31.0    0.0
1   8.0  183.0  64.0   0.0   0.0  23.3  0.672  32.0    1.0

In [9]:
from sklearn.utils import shuffle
dataset = shuffle(dataset, random_state=0)
dataset.reset_index(drop=True, inplace=True)

In [10]:
dataset.head(2)

   preg   plas   pres  skin   test  mass   pedi   age  class
0   8.0  167.0  106.0  46.0  231.0  37.6  0.165  43.0    1.0
1   5.0  132.0   80.0   0.0    0.0  26.8  0.186  69.0    0.0

In [11]:
X = dataset
X = X.drop( columns='class')
y = dataset.loc[: , 'class' ].values

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=22)

In [13]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
from sklearn.naive_bayes import GaussianNB

clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB()

In [15]:
y_pred = clf.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
accuracy_score(y_test, y_pred)

0.8051948051948052